.form {
  max-width: 600px;
  padding-top: 16px;
}

.switchItem {
  margin-bottom: 24px;
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.actions {
  display: flex;
  gap: 12px;
  margin-top: 32px;
}
